<div class="cart-container">
  <div class="card card-cascade narrower">
    <form name="form" (ngSubmit)="f.form.valid && displayUserData()" #f="ngForm">
      <div class="form-group">
        <label for="firstName">Please Enter a User ID :</label>
        <input type="text" id = "firstName" class="form-control" name="userIdentifier" placeholder="User ID" [(ngModel)]="userId" #userIdentifier="ngModel" [ngClass]="{ 'is-invalid': f.submitted && userIdentifier.invalid }" required />
        <div *ngIf="f.submitted && userIdentifier.invalid" class="invalid-feedback">
          <div *ngIf="userIdentifier.errors.required">User ID is required</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-display">Display User Data</button>
    </form>
    <div class="content" *ngIf="user$ | async as user">
      <small>Name : {{user.fullName}}</small>
    </div>
  </div>
</div>
